<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>{% block title %}Accueil{% endblock %} - Site Salle de Sport</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Space+Mono&display=swap" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        {# FEUILLES DE STYLES #}

        
        
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        
        
        {% block stylesheets %}{% endblock %}
        
        <link rel="stylesheet" href="{{asset('assets/css/nav.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/main.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/footer.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/catlist.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/cart.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/sub.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/profil.css')}}">
        

        {# FICHIERS JS #}
        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"defer></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{asset('assets/js/scripts.js')}}"defer></script>
        

        
    </head>
    <body>

        {% include "_partials/_nav.html.twig" %}
        
        {% block body %}{% endblock %}
        
        {% include "_partials/_footer.html.twig" %}
        

        <script>
            AOS.init();
        </script>
    </body>
</html>
